.container {
    width: 900px;
    margin: 80px auto;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #737373;
}

.staff-title {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-bottom: 40px;
}

.staff-title__line {
    display: inline-block;
    width: 8px;
    height: 40px;
    background-color: #000;
    margin-right: 20px;
}

.table {
    width: 900px;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.15em;
    background-color: #fff;
    border-radius: 10px;
    table-layout: fixed;
}

.table th {
    height: 40px;
    color: #737373;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    border-bottom: 3px solid #E1E1E1;
    /* ヘッダー下に太めの横線 */
}

/* 均等幅 */
.table thead th,
.table tbody td {
    width: calc(900px / 3);
}

.table tr {
    border-bottom: 2px solid #E1E1E1;
    height: 40px;
}

.table td {
    text-align: center;
    vertical-align: middle;
    padding: 0;
    border: none;
}

/* 詳細ボタン */
.btn-info {
    display: inline-block;
    max-width: 100%;
    /* セル幅に収める */
    padding-top: 13px;
    color: #000;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}
